.body {
    width: 100%;
}



.header {
    text-align: center;
    justify-content: center;
    overflow: hidden;   
    background-color: #3f4741 ;
    /*
    background-color: #3f4741 ;background-color: #2e3630;*/
 
}

.logo{
    width: 24%;
    height: auto;
    margin: 50px auto 20px auto;
}


.menu {
    text-align: center;
    margin: 5px auto 50px auto;
}

.menu a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 120%;
    display: inline-block;
    height: auto;
    margin: 30px 30px 20px;
    padding: 3px 3px;
    font-weight: 100;
}


.menu a:hover{
    color: #969c84;
   /* color: #8F9779; */
    font-weight: 600; 
}


.hero-section {
     position: relative;
     text-align: center;
}


.hero-title {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(59, 59, 59);
    width: 100%;
    font-family: 'Comfortaa', cursive;
    font-size: 110%;
}

.hero-img {
    height: 50%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button {
    position: absolute;
    top: 21%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: rgb(59, 59, 59);
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 120%;
  }

.hero-section h1{
    font-weight: 200;
}

.button a{
    font-weight: 500;
}

.button a:hover{
    color: #8F9779;
    font-weight: 600; 
}

.instagram-section {
    text-align: center;
    margin: 10px 0;
}

.instagram-section h2{
    font-family: 'Comfortaa', cursive;
    color: rgb(59, 59, 59);
    margin: 10px auto 0;
    font-size: 30px;
    font-weight: 200;
    line-height: 1;
}

.message {
    font-family: 'Montserrat', sans-serif;
    color: rgb(59, 59, 59);
    margin: 30px auto 55px;
    font-size: 17px;
    font-weight: 500;
}

.insta-img {
    display: flex;
    width: 100%;
    
}

.ii{
    width: 99%;
    margin: 2px;
    height: auto;
    
}

.ii:hover{
    transform: scale(1.01);
}


.footer {
    background-color: #3f4741;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 70px;
  
}

.footer img{
    width: 50%;
    margin-top: 30px;


}

.footer div {
    align-items: center;
    margin: 20px;
    width: 100%;
    padding: 20px;
}


.col-middle p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.col-middle a{
    text-decoration: none;
    color: white;
}

.footer a:hover{
    font-weight: bold;
    font-size: 16px;
    color: #969c84;
}

.col-left {
    text-align: center;
}

.col-right{
    text-align: center;
}

.col-right p{
    margin-top: 50px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

